
<div class="navbar">
<center>
  <%= link_to 'rating', signout_path, id: "rating" %>
  <%= link_to 'Oudio', signout_path, id: "brand" %>
  <%= link_to 'logout', signout_path, id: "sign_out" %>
</center>
</div>


<div class="click-vote">
  <button class="b-large" data-ui="downVote"><%= image_tag "delete30.svg" %></button>
  <button class="b-med"><%= image_tag "microphone28.svg", id: 'mic' %></button>
  <button class="b-large" data-ui="upVote"= ><%= image_tag "check.svg" %></button>
</div>

