
<div class="navbar">
  <!-- center tag is deprecated - use margin:auto and width
  looks like you can rid of the buttons and just style your links
   -->
<center>
  <button class="navbuts"><%= link_to (image_tag 'percent1.svg', id:'navlogo'), signout_path, id: "rating" %></button>
  <%= link_to 'Oudio', signout_path, id: "brand" %>
  <button class="navbuts"><%= link_to (image_tag 'logout.svg', id:'navlogo'), signout_path, id: "sign_out" %></button>
</center>
</div>


<div class="click-vote">
  <button class="b-large vote-button" id="downvote"><%= image_tag "delete30.svg", id:'downvote' %></button>
  <button class="b-med"><%= image_tag "microphone28.svg", id: 'mic' %></button>
  <button class="b-large vote-button" id="upvote"><%= image_tag "check.svg", id:'upvote' %></button>
</div>

