<div class="modal-content">
  <h1>Sing a ditty</h1>
  <button class='close-new-clip'>close</button>

  <%= form_tag(@cloudconvert.process_url, id: "clip_upload", :class => "#{current_user.id}", action: :upload, multipart: true, remote: true) do %>
    <%= hidden_field_tag 'input', 'upload' %>
    <%= hidden_field_tag 'outputformat', 'mp3' %>
    <%= file_field_tag 'file', accept: 'audio/*;capture=microphone', value: ' '%>
    <%= submit_tag "Submit" %>
  <% end %>
  <button onclick="startRecording(this);">Record</button>
  <button onclick="stopRecording(this);" disabled>Stop Recording</button>
  <h2>Recordings</h2>
  <ul id="recordingslist"></ul>
  <pre id="log">
  </pre>

</div>