
<div id="user_nav">

  <% if current_user %>

    <%= render 'nav' %>
    <%= render 'player' %>
    <%= render 'footer' %>

    <div class="modal media-center  close-new-clip">
      <div class='clip-form media-center'>
        <%= render 'clips/new_clip' %>
      </div>
      <div class="no-clips media-center">
        <%= render 'clips/no_clips' %>
      </div>
    </div>

  <% else %>
      <div class='landing media-center'>
        <h1>Odeo</h1>
        <%= render 'login' %>
      </div>
  <% end %>
</div>




