<div class="percent-wrapper">
  <span class="rating"><%= @rating  %>%</span>
</div>
<div id="user_nav">

  <% if current_user %>
   <%= render 'nav' %>
</div>
   <%= render 'player' %>
    <div class="modal media-center">
      <div class='clip-form media-center'>
        <%= render 'clips/new_clip' %>
      </div>
    </div>

  <% else %>
      <div class='landing media-center'>
        <h1>Odeo</h1>
        <%= render 'login' %>
      </div>
  <% end %>