<!DOCTYPE html>
<html>
<head>
  <title>StageFright</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

    <%= yield %>


  <div class="modal">
    <div class='clip-form'>
        <%= render 'clips/new_clip' %>
    </div>
  </div>

</body>
</html>
